@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 10%, 4%;
    --foreground: 0, 0%, 98%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240, 4%, 16%;
    --input: 240, 4%, 16%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply scroll-smooth border-border antialiased;
  }
  body {
    @apply overflow-x-hidden bg-background text-base text-foreground;
    background: rgb(31, 29, 43);
  }
}

.header-link {
  @apply text-sm transition-colors hover:text-zinc-50 hover:underline hover:underline-offset-4;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #18181b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}

h2 {
  @apply text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none;
}

.description {
  @apply text-sm text-zinc-500 md:mx-auto md:max-w-[600px] md:text-center md:text-xl;
}
